#cruByIdx{
    float: left;
    width: 100%;
}

.top{
    float: left;
    width: 49%;
}

.bottom{
    margin-top:1%;
    float: left;
    width: 144%;
    margin-left:-44%;
}

.dash-loading {
    float: left;
    position: relative;
    z-index: 1;
    top: 150px;
    left: 49%;
}

#statByIdx{
    margin-left:1%;
}

#statByMonth{
    margin-left:1%;
}

.dash-menu{
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 15px;
    padding-left: 15px;
    background-color: #ddd;
    margin-bottom: 10px;
}
.about-menu{
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 15px;
    padding-left: 15px;
    background-color: #ddd;
    margin-bottom: 10px;
}

.thumbnail-dash img{
    border: 1px solid white;
    margin: 0 3px 3px 0;
}

.thumbnail-dash:hover{
    background-color: transparent;
}

.thumbnail-dash:hover img{
    border: 1px solid black;
}
.selected{
    border: 1px solid black !important;
    background-color: transparent;
}

.imgBig{
    width:100%;
}
#gallaryBig{
    width:63%;
    float:left;
    text-align:left;
    margin-left:10%;
    margin-top:2%;
}

.top-about{
    width:95%;
    margin-left:2%;
}
/*
.thumbnail span{

position: absolute;
background-color: lightyellow;
padding: 5px;
left: -1000px;
border: 1px dashed gray;
visibility: hidden;
color: black;
text-decoration: none;
}

.thumbnail span img{
border-width: 0;
}

.thumbnail:hover span{ /
visibility: visible;
top: 45%;
left: 10%;
z-index: 50;
}
*/
